/* index.css */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#root {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start; /* ou center se quiser verticalmente centralizado */
	background-color: #fff;
	font-family: Trebuchet MS, sans-serif;
}
